div.test{
  color:#FF8888;
  margin-right:300px;
  float:right;
}
div.think{ 
  margin-left:650px;
}
text123:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
